{%load static%}

<!DOCTYPE html>
<html class="wide wow-animation" lang="en"> 
  <head>
    <!-- Site Title-->
    <title>Главная</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald:200,400%7CLato:300,400,300italic,700%7CMontserrat:900">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/fonts.css'%}">
  </head>
  <body>
    <div>
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap rd-navbar-corporate">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-md-stick-up-offset="130px" data-lg-stick-up-offset="100px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true">
            <div class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
              <div class="rd-navbar-top-panel-inner"></div>
              <div class="rd-navbar-inner">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                </div>
                <div class="rd-navbar-aside-center">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="active"><a href="{% url 'index'%}">Главная</a>
                      </li>
                      <li><a href="{% url 'purchase'%}">Заказать</a>
                      </li>
                      <li><a href="{% url 'signin'%}">Логин</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
       <section class="section">
        <div class="swiper-form-wrap">
         <!-- Swiper-->
          <div class="swiper-container swiper-slider swiper-slider_height-1 swiper-align-left swiper-align-left-custom context-dark bg-gray-darker" data-loop="false" data-autoplay="5500" data-simulate-touch="false" data-slide-effect="fade">
            <div class="swiper-wrapper">
              <div class="swiper-slide" data-slide-bg="{% static 'images/swiper-slide-1.jpg'%}">
                <div class="swiper-slide-caption">
                  <div class="container container-bigger swiper-main-section">
                    <div class="row row-fix justify-content-sm-center justify-content-md-start">
                      <div class="col-md-6 col-lg-5 col-xl-4 col-xxl-5">
                        <h3>Делаем качествено</h3>
                        <div class="divider divider-decorate"></div>
                        <p class="text-spacing-sm">Мы с полным пониманием и ответственностью относимся к каждой работе. И поэтому можете не переживать за качественость и правельность работы. Все будет сделано краство акуратно и самое главное правильно.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" data-slide-bg="{% static 'images/swiper-slide-2.jpg'%}">
                <div class="swiper-slide-caption">
                  <div class="container container-bigger swiper-main-section">
                    <div class="row row-fix justify-content-sm-center justify-content-md-start">
                      <div class="col-md-6 col-lg-5 col-xl-4 col-xxl-5">
                        <h3>Делаем быстро</h3>
                        <div class="divider divider-decorate"></div>
                        <p class="text-spacing-sm">Мы делаем все максимально в сроки и если мы не успеваем мы возрощаем заказчику 15% от стоимости заказа и делаем скидку на следующий заказ</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" data-slide-bg="{% static 'images/swiper-slide-3.jpg'%}">
                <div class="swiper-slide-caption">
                  <div class="container container-bigger swiper-main-section">
                    <div class="row row-fix justify-content-sm-center justify-content-md-start">
                      <div class="col-md-6 col-lg-5 col-xl-4 col-xxl-5">
                        <h3>Жалоб нет</h3>
                        <div class="divider divider-decorate"></div>
                        <p class="text-spacing-sm">Мы хорошо выполняем свою работу, никто никогда не жаловался. Если вы преподователь мы не хотим вас обидеть или оскорбить даной деятельностью. Как говориться:"Хочешь жить, умей верьтеться".</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Swiper controls-->
            <div class="swiper-pagination-wrap">
              <div class="container container-bigger">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container container-bigger form-request-wrap form-request-wrap-modern">
            <div class="row row-fix justify-content-sm-center justify-content-lg-end">
            </div>
          </div>
        </div>
      </section>
      <!-- our advantages-->
      <section class="section section-lg novi-background bg-cover bg-default text-center">
        <div class="container-wide">
          <div class="row row-50">
            <div class="col-sm-12">
              <h3>Информация</h3>
              <!-- Owl Carousel-->
              <div class="owl-carousel owl-carousel-team owl-carousel-inset" data-items="1" data-md-items="2" data-xl-items="3" data-stage-padding="15" data-loop="true" data-margin="30" data-mouse-drag="false" data-dots="true" data-autoplay="true">
              </article>
              <article class="post-blog"><a class="gallery-item titled-gallery-item" href="{% static '\images\landing-private-airlines-7-570x415.jpg'%}" data-lightgallery="item">
                <div class="gallery-item-image">
                  <figure><img src="{% static '\images\landing-private-airlines-7-570x415.jpg'%}" alt="" width="570" height="380"/>
                  </figure>
                  <div class="caption">
                  </div>
                </div></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <ul class="post-blog-tags">
                      <li><a class="button-tags" href="{% static '\images\landing-private-airlines-7-570x415.jpg'%}">Отчет за месяц</a></li>
                    </ul>
                  </div>
                  <div class="post-blog-caption-body">
                    <h5>Сдесь можно будет увидеть статистику за весь месяц.</h5>
                  </div>
                </div>
              </article>
                <article class="post-blog"><a class="gallery-item titled-gallery-item" href="{% static '\images\landing-private-airlines-8-570x415.jpg'%}" data-lightgallery="item">
                  <div class="gallery-item-image">
                    <figure><img src="{% static '\images\landing-private-airlines-8-570x415.jpg'%}" alt="" width="570" height="380"/>
                    </figure>
                    <div class="caption">
                    </div>
                  </div></a>
                  <div class="post-blog-caption">
                    <div class="post-blog-caption-header">
                      <ul class="post-blog-tags">
                        <li><a class="button-tags" href="{% static '\images\landing-private-airlines-8-570x415.jpg'%}">Отчет за месяц</a></li>
                      </ul>
                    </div>
                    <div class="post-blog-caption-body">
                      <h5>Сдесь можно будет увидеть статистику за весь месяц.</h5>
                    </div>
                  </div>
                </article>
              </article>
              <article class="post-blog"><a class="gallery-item titled-gallery-item" href="{% static '\images\landing-private-airlines-9-570x415.jpg'%}" data-lightgallery="item">
                <div class="gallery-item-image">
                  <figure><img src="{% static '\images\landing-private-airlines-9-570x415.jpg'%}" alt="" width="570" height="380"/>
                  </figure>
                  <div class="caption">
                  </div>
                </div></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <ul class="post-blog-tags">
                      <li><a class="button-tags" href="{% static '\images\landing-private-airlines-9-570x415.jpg'%}">Отчет за месяц</a></li>
                    </ul>
                  </div>
                  <div class="post-blog-caption-body">
                    <h5>Сдесь можно будет увидеть статистику за весь месяц.</h5>
                  </div>
                </div>
              </article>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"> </div>
    <!-- Javascript-->
    <script src="{% static 'js/core.min.js'%}"></script>
    <script src="{% static 'js/script.js'%}"></script>
    <!-- coded by barber-->
  </body>
</html>